.cardBehind {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background: whitesmoke;
    padding: 20px;
    width: 400px;
    height: 500px;
    max-width: 90%;
    position: relative;
    text-align: left;
  }

  .closeButton {
    position: absolute;
    width: 150px;
    height: 35px;
    margin-top: 20px;
    font-size: 1.2em;
    background-color: rgb(147, 147, 147);
    color:whitesmoke;
    border:0 none;
    cursor: pointer;
    border-radius: 3px;
  }
